/* background-color :    #120d21;            primary -body  */
/* background-color: #393053;                secondary      */
/* color: #89C4E1;                              font color  */

/* font-family: 'Quantico', sans-serif;        primary        */
/* font-family: 'Cambay', sans-serif;          scondary       */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #120d21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -----------------------------------------------------------navbar---------------------------------------------------------------------- */

nav #logo{
    color: rgba(255, 255, 255, 0.777);
    font-size: 2.3rem;
    font-family: 'Quantico', sans-serif; 
}

nav #logo b{
    color: #89C4E1;
}

.navbar-nav li a{
    color: rgba(255, 255, 255, 0.777);
    font-size: 1rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-family: 'Cambay', sans-serif;
}

.navbar-nav li a:hover{
    color: #89C4E1;
        transition: ease 0.3s;
}

.navbar-nav li #active-link{
    color: #89C4E1;
    border-bottom: 2px solid #89C4E1;
    padding-bottom: 0px;
}

#img{
    background-image: url(image.jpg);
    height:700px;
    background-repeat: no-repeat;
    background-size: cover;
}

#img h1{
    color: #89C4E1;
    font-size: 3rem;
    font-family: 'Quantico', sans-serif; 
    margin-top: 6rem;
    
}

#img p{
    font-size: 1.1rem;
    color: #ffffff47;
    margin-top: 1.rem;
    font-family: 'Cambay', sans-serif;
}


@media screen and (max-width:992px){
    #img{
        height: 800px;
    }
}

@media screen and (max-width:767px){
    #img{
        height: 1580px;
    }
}

@media screen and (max-width:514px){
    #img{
        height: 1600px;
    }
}

@media screen and (max-width:306px){
    #img{
        height: 10px;
    }
}

@media screen and (max-width:300px){
    #img{
        height: 2100px;
    }
}



/* ------------------------------------------------------------------------------------cards - latest tech----------------------------------------------- */

#latest-tech{
    margin-top: 2.5rem;
    margin-bottom: 10rem;
}

#latest-tech a{
    text-decoration: none;
}

#latest-tech .card{
    background-color: rgba(255, 255, 255, 0.49);
    color: #120d21;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.745);
}

#latest-tech .card:hover{
    background-color: #89C4E1;
    color: #120d21;
    transition: ease 4ms;
    cursor: pointer;
    font-weight: 500;
}



/* ------------------------------------------------------------------------------------blog-topics------------------------------------------------- */

#blog-topics{
    padding-bottom: 3rem;
}

#blog-topics h2{
    color: #89C4E1;
    font-family: 'Quantico', sans-serif; 
    margin-bottom: 4rem;
}

#blog-topics .card{
    background-color: #29223c94;
    box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.383);
    margin-top: 1rem;
}

#blog-topics .card h5{
    color: #89C4E1;
}

#blog-topics .card p{
    color: rgba(255, 255, 255, 0.49);
    margin-top: 1rem;
    font-size: 0.9rem;
    text-transform: lowercase;
}

#blog-topics .card a{
    background-color: #89c4e11a;
    color: rgba(255, 255, 255, 0.49);
    border: none;
    margin-top: 2rem;
}

#blog-topics .card a:hover{
    cursor: pointer;
    background-color: #89C4E1;
    transition: ease 3ms;
    color: #120d21;
}

#blog-topics .a-i{
    display: flex;
    justify-content: space-between;
}

#blog-topics .a-i i{
    color: #89c4e15b;
    font-size: 30px;
    margin-top: 2.2rem;
}

#blog-topics .a-i i:hover{
    color: #89C4E1;
}


/* ---------------------------------------------pagination----------------------------------------------------- */

#pagination{
    padding-bottom: 2rem;
    color: #89C4E1;
    
}

#pagination .page-link{
    color: white;
    background-color: #120d21;
}

#pagination .active .page-link{
    background-color: #89C4E1;
    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: #120d21;
}



/* -----------------------------------accordion------------------------------------------------------ */

#accordion{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#accordion .accordion-body{
    background-color: #89C4E1;
}

/* ------------------------------------------------------------------footer---------------------------------- */

/* -----------footer 1---------------- */

#footer-1{
    background-color: #89C4E1;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.383);
    border-radius: 5px;
    position: relative;
    top: 9%;
}

#footer-1 h5{
margin-top: 1rem;
}

#footer-1 input{
    max-width: 500px ;
    margin-top: 1rem;
    border-radius: 18px;
}

#footer-1 a{
    background-color: #120d21;
    border-radius: 18px;
    color: #89C4E1;
}

#footer-1 a:hover{
    background-color: #ffffff;
    color: #120d21;
}



/* ------------footer 2---------------- */

#footer-2{
    background-image: url(image.jpg);
    padding-top: 10rem;
    padding-bottom: 6rem;
}

#footer-2 h5{
    color: #89C4E1;
    font-family: 'Quantico', sans-serif; 
}

#footer-2 ul{
    list-style-type: none;
}

#footer-2 ul li{
    color: rgba(255, 255, 255, 0.311);;
}
#footer-2 ul li:hover{
    color: rgb(255, 255, 255);;
    cursor: pointer;
}

#footer-2 h6{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    color: #89C4E1;
}

#footer-2 i{
    color: #89c4e186;
    font-size: 24px;
    margin-right: 1.8rem;
    margin-top: 2.5rem;
}

#footer-2 i:hover{
    color: #89c4e1;
    font-size: 24px;
    margin-right: 1.8rem;
    margin-top: 2.5rem;
}

 #copy div p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.72);
    background-color: #120d21;
    padding-top: 1rem;
}

@media screen and (max-width:767px){
    #footer-1 a{
        margin-top: 0.5rem;
        width: 5rem;
        font-size: 0.8rem;
    }

    #footer-1{
        top: 5%;
    }
}

